<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>Awesemo Minutes Modification</title>

    <!-- Styles -->
    <link href="/css/bootstrap.min.css" rel="stylesheet">
    <link href="/css/app.css" rel="stylesheet">

    <!-- Scripts -->
    <script src="/js/jquery-1.10.2.min.js"></script>
    <script src="/js/angular.min.js"></script>
    <script src="/js/NBA.js"></script>
    <script src="/js/NBA_Tool_Controller.js"></script>


</head>
<body>

<div ng-app="NBAApp">
    <div class="container" ng-controller="NBAToolController as nba">

        <div class="row">
            <div class="col-xs-12">
                <uib-tabset active="activeJustified" justified="true">
                    <uib-tab index="1" heading="{{Title}}">
                      <div class"row" ng-if="AllTeams.length === 0">
                        <div class="col-xs-12 text-center">
                          <label class="btn btn-primary btn-file btn-lg">
                              Add Awesemo Projected Stats File (1st)<input type="file" style="display: none;" custom-on-change="loadProjections">
                          </label>
                          <label class="btn btn-primary btn-file btn-lg" ng-disabled="!statsLoaded" >
                              Add Awesemo Ownership File (2nd)<input type="file" style="display: none;" ng-disabled="!statsLoaded" custom-on-change="loadOwnership">
                          </label>
                        </div>
                        <div class="col-xs-12 text-center" ng-show="!statsLoaded" >
                          No data currently loaded. Please load awesemo projected stats file.
                        </div>
                        <div class="col-xs-12 text-center" ng-show="statsLoaded" >
                          Awesemo projected stats currently loaded. Please load awesemo ownership file. (DK or FD)
                        </div>
                      </div>

                      <div class="row" ng-repeat="singleTeam in AllTeams" >
                        <div class="col-xs-12">
                            <table class="table table-bordered">
                              <thead>
                                <th>{{singleTeam}}</th>
                                <th>FD Proj</th>
                                <th>DK Proj</th>
                                <th>Salary</th>
                                <th>Value</th>
                                <th>Proj Own</th>
                                <th>PG</th>
                                <th>SG</th>
                                <th>SF</th>
                                <th>PF</th>
                                <th>C</th>
                              </thead>
                              <tbody>
                                <tr  ng-repeat="singlePlayer in AllPlayers |playersOnTeam:(singleTeam)">
                                  <td>{{singlePlayer.PlayerName}}</td>
                                  <td>{{singlePlayer.PlayerFDPoints.toFixed(2)}}</td>
                                  <td>{{singlePlayer.PlayerDKPoints.toFixed(2)}}</td>
                                  <td>{{singlePlayer.PlayerSalary}}</td>


                                  <td style="background-color: {{ getGradientColor(0, getMaxValue(), singlePlayer.PlayerValue) }}">{{singlePlayer.PlayerValue.toFixed(2)}}</td>
                                  <td style="background-color: {{ getGradientColor(0, getMaxOwnershipPosition(singlePlayer.PlayerPosition), singlePlayer.PlayerOwnership) }}">{{singlePlayer.PlayerOwnership.toFixed(1)}}</td>


                                  <td ng-if="singlePlayer.PlayerPosition.includes('PG')" ><input class="form-control actualPoints"  ng-model="singlePlayer.PlayerMinutes" type="number" ng-change="updatePlayerMinutes(singlePlayer.PlayerName)" ></td>
                                  <td ng-if="!singlePlayer.PlayerPosition.includes('PG')">-</td>

                                  <td ng-if="singlePlayer.PlayerPosition.includes('SG')"><input class="form-control actualPoints"  ng-model="singlePlayer.PlayerMinutes" type="number" ng-change="updatePlayerMinutes(singlePlayer.PlayerName)" ></td>
                                  <td ng-if="!singlePlayer.PlayerPosition.includes('SG')">-</td>

                                  <td ng-if="singlePlayer.PlayerPosition.includes('SF')"><input class="form-control actualPoints"  ng-model="singlePlayer.PlayerMinutes" type="number" ng-change="updatePlayerMinutes(singlePlayer.PlayerName)" ></td>
                                  <td ng-if="!singlePlayer.PlayerPosition.includes('SF')">-</td>

                                  <td ng-if="singlePlayer.PlayerPosition.includes('PF')"><input class="form-control actualPoints"  ng-model="singlePlayer.PlayerMinutes" type="number" ng-change="updatePlayerMinutes(singlePlayer.PlayerName)" ></td>
                                  <td ng-if="!singlePlayer.PlayerPosition.includes('PF')">-</td>

                                  <td ng-if="singlePlayer.PlayerPosition.includes('C')"><input class="form-control actualPoints"  ng-model="singlePlayer.PlayerMinutes" type="number" ng-change="updatePlayerMinutes(singlePlayer.PlayerName)" ></td>
                                  <td ng-if="!singlePlayer.PlayerPosition.includes('C')">-</td>
                                </tr>
                                <tr>
                                  <th>Total Team Minutes</th>
                                    <th>{{ calcMins(singleTeam) }}</th>
                                </tr>
                              </tbody>
                            </table>
                        </div>
                      </div>

                      <div class="row" ng-if="AllTeams.length > 0 ">
                        <div class="col-xs-12 text-center">
                          <button class="btn btn-default btn-file btn-lg" ng-click="DownloadModifiedFile()">Download modified minutes file</button>
                        </div>
                        <div class="col-xs-12">
                            <table class="table table-bordered">
                              <thead>
                                <th>Name</th>
                                <th>FD Proj</th>
                                <th>DK Proj</th>
                                <th>Minutes</th>
                                <th>Ownership</th>
                              </thead>
                              <tbody>
                                <tr  ng-repeat="singlePlayer in AllPlayers ">
                                  <td>{{singlePlayer.PlayerName}}</td>
                                  <td>{{(singlePlayer.PlayerPerMinFDPoints * singlePlayer.PlayerMinutes).toFixed(2)}}</td>
                                  <td>{{(singlePlayer.PlayerPerMinDKPoints * singlePlayer.PlayerMinutes).toFixed(2)}}</td>
                                  <td>{{singlePlayer.PlayerMinutes}}</td>
                                  <td>{{singlePlayer.PlayerOwnership}}</td>
                                </tr>
                              </tbody>
                            </table>
                        </div>

                      </div>
                    </uib-tab>
                    <uib-tab  index="2" heading="DataBase" ng-click="loadPastSettings()">

                      <div class="panel panel-default" >
                          <div class="panel-heading">
                            <div class='btn-toolbar pull-right'>
                              <div class="btn-group">
                                <button type="button" class="btn btn-xs btn-primary" ng-disabled="_AllPlayers.length == 0" ng-click="save()" ><span class="glyphicon glyphicon-floppy-disk" aria-hidden="true"></span></button>
                              </div>
                              <label class="btn btn-primary btn-file btn-xs">
                                  Add Projections File (1st)<input type="file" style="display: none;" custom-on-change="loadProjections">
                              </label>
                              <label class="btn btn-primary btn-file btn-xs" ng-disabled="!statsLoaded" >
                                  Add Ownership File (2nd)<input type="file" style="display: none;" custom-on-change="loadOwnership">
                              </label>
                            </div>
                            <h3 class="panel-title">Load Saved History</h3>
                          </div>
                          <div class="panel-body" set-height id="savedHistory">
                            <div class="row">
                              <div class="col-xs-12">
                                <table class="table table-hover">
                                    <thead>
                                        <tr>
                                            <th>Settings #</th>
                                            <th>Title</th>
                                            <th>Date</th>
                                            <th>Load</th>
                                        </tr>
                                    </thead>
                                    <tbody ng-repeat="savedSettings in savedPastSettings | orderBy: '-Date'">
                                      <tr>
                                        <td class="col-md-1">{{$index+1}}</td>
                                        <td class="col-md-3"><input class="form-control" type="text" ng-model="savedSettings.Title"></td>
                                        <td class="col-md-2">{{savedSettings.Date}}</td>
                                        <td class="col-md-4">
                                          <button class="btn btn-sm btn-primary" ng-click="read(savedSettings.Title)">Load</button>
                                        </td>
                                      </tr>
                                    </tbody>
                                  </table>
                              </div>
                            </div>

                          </div>
                      </div>


                    </uib-tab>
                </uib-tabset>
            </div>
        </div>




    </div>
</div>

    <script src="/js/bootstrap.min.js"></script>
</body>
</html>
